### Authentication via passkey

{{companyShortName}} strongly encourages users to make use of [passkeys](https://passkey.org/) wherever
they are available. Passkeys use [public key cryptography](https://en.wikipedia.org/wiki/Public-key_cryptography)
to generate strong user credentials that are tied to a single web site or application. To make sure only the
rightful owner can use a passkey, the system will ask them to unlock their device. This may be performed with
a biometric sensor (such as a fingerprint or facial recognition), PIN, or pattern.

Passkeys are suppored directly in [Google Chrome](https://support.google.com/chrome/answer/13168025),
[Android devices](https://www.computerworld.com/article/3695076/google-passkeys-android-security.html),
[iPhone and MacOS](https://support.apple.com/guide/iphone/use-passkeys-to-sign-in-to-apps-and-websites-iphf538ea8d0/ios)
and in the [1Password password manager](https://support.1password.com/save-use-passkeys/). As of September 2023,
the Firefox browser does not support passkey operations, and as a result {{companyShortName}} discourages
the use of Firefox.

Passkey authentication is significantly stronger and more robust than username/password + MFA authentication,
and is the preferred method of authentication at {{companyShortName}} for all sites and applications that
support it.
