### User Endpoint Security Controls and Configuration

1. Employee laptops, including Windows, Mac, and Linux systems, are configured
   either

    * Manually by IT or the device owner; or
    * Automatically using a configuration management tool or equivalent scripts.

2. The following security controls are applied at the minimum:

    * Disk encryption
    * Unique user accounts and strong passwords
    * Approved NTP servers
    * Approved security agents including Anti-Virus software
    * Locking after 10 mins of inactivity
    * Auto-update of security patches

3. The security configurations on all end-user systems are inspected by Security
   through either a manual periodic review or an automated compliance auditing
   tool.

### Anti-Virus policy
* For systems considered to be not commonly affected by malicious software,
perform periodic evaluations to identify and evaluate evolving malware threats
in order to confirm whether such systems continue to not require anti-virus software.
* A licensed anti-virus software package must be utilized for all computer and system
components (any network component, server or application included in or connected
to the cardholder data environment) within the cardholder environment and for all
computers not directly associated with the cardholder environment.
    * The licensed anti-virus software utilized must be the most current version available.
* All computers and system components within the cardholder environment must have
standard, supported anti-virus software installed.
    * The anti-virus software must be active, must be scheduled to perform virus checks at regular
    intervals and must have its virus definition and all other associated software files kept current.
* The anti-virus software must be enabled for automatic updates and periodic scans.
* All computers not directly associated with the cardholder environment must have
standard, supported anti-virus software installed.
    * The anti-virus software for all computers not directly associated with the cardholder
    environment must also be active, scheduled to perform virus checks at regular intervals
    and must have its virus definitions and all other associated software files kept current.
* No user shall disable or tamper with the configuration of anti-virus software installed on any computer or device.


