### Current PCI DSS Certification document

`{{currentRevision}}`

For convenience and off line viewing, we provide [a PDF of our most current PCI DSS AOC]({{&securityPolicyURL}}/pdf/ABOVE-2024-PCI-DSS-V3.2.1-AOC-SERVICE+PROVIDER-FINAL-2-05-2024+AD-FINAL+EXECUTED.pdf).

Current penetration test and vulnerability scan reports are available by request under appropriate NDA, as are infrastructure and data flow diagrams.
