### Current PCI DSS Certification document

`{{currentRevision}}`

For convenience and off line viewing, we provide [a PDF of our most current PCI DSS AOC]({{&securityPolicyURL}}/pdf/Above-Property-2025-PCI-DSS-AOC-Service-Providers.pdf).

Current penetration test and vulnerability scan reports are available by request under appropriate NDA, as are infrastructure and data flow diagrams.
